# General information about this style
name = ProMinoDeux
copyright = © 2026 William Jacoby
style_version = 1.0.0-dev
phpbb_version = 3.3.0

# Parent style: everything not overridden here (templates, JavaScript, images) comes from prosilver
parent = prosilver
